@import "tailwindcss";

@theme {
  --font-sans: var(--font-neue), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: var(--font-stefan), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --color-tone-cream: #F9F5ED;
  --color-tone-rose: #D8A6A3;
  --color-tone-blue: #BDD5EC;
  --color-tone-brown: #8A5A4A;
  
  --color-background: var(--color-tone-cream);
  --color-foreground: var(--color-tone-brown);
}

:root {
  --background: #F9F5ED;
  --foreground: #8A5A4A;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
